:root {
  --primary-clr: #f87070;
  --lightBlueish: #1e213f;
  --modal-clr: rgba(60, 63, 82, .6);
  --darkBlueish: #161932;
  --lightGrey: #eff1fa;
  --darkGrey: #d7e0ff;
  --darkGreyModal: rgb(223, 230, 255);
}
