*,
*::before,
*::after {
  box-sizing: border-box;
  &:not(input) {
    user-select: none;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
p,
span {
  margin: 0;
  padding: 0;
}
